
.main-bg {
  background-image: url('../../assets/images/i-bg.png');
  height: 100vh;
 display: flex;
 justify-content: center;
  width: 100%;
}
label {
  color: white;
}
.claim-form {
  /* background-color: #FEFEFE */
}
.content-wrap {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
.error {
  color: red;
}

.popup {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup-content button {
  float: right;
  margin-top: 15px;
}