.popup {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .popup-content button {
    float: right;
    margin-top: 15px;
  }